@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background: linear-gradient(to bottom right, rgba(30, 0, 30, 0.769), rgba(10, 0, 10, 0.769)), url('/images/stylishbg.jpeg'); /* Set your image path here */
  --foreground: #171717;
  --test-background: #1700182e;
  background-repeat: no-repeat; /* Prevent the background image from repeating */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom right, rgba(29, 29, 29, 0.847), rgba(10, 10, 10, 0.769)), url('/images/stylishbg.jpeg'); /* Dark mode image */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed; /* Optional: makes the background fixed */
  background-size:contain; /* Ensures the background covers the entire area */
  background-position: center; /* Centers the background image */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes slide-up {
  0% {
      transform: translateY(20px);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out forwards;
}